{% extends "guru/base.html" %}


{% block title %}
<title> guru | edit profile </title>
{% endblock %}

{% block mainsection %}
<div class="col-md-12">
    <h1> Edit Profile </h1>
  <img src="/guru{{ profile.picture.url }}" alt="{{profile.picture}}">

  <form enctype="multipart/form-data" action="{% url 'editprofile'%}" method="post">
    <table>
    
    {{form}}
    
    </table>
    <input type="submit" value="Save">
    {% csrf_token %}
  </form>

  
  <a href="{% url 'home' %}"><button>Cancel</button></a>
    
</div>
{% endblock %}